@import "./assets/css/fonts.css";
@import "./assets/css/nullstyle.css";
@import "./assets/css/burgerMenu.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-react {
    background-image: url("../public/react_bg.webp");
    background-repeat: repeat;
    background-size: 100px 100px;
    background-position: center;
  }

  .bg-chat {
    background-image: url("../public/chat.webp");
    background-repeat: repeat;
    background-size: 100px 100px;
    background-position: center;
  }
  .bg-contacts {
    background-image: url("../public/notification.webp");
    background-repeat: repeat;
    background-size: 100px 100px;
    background-position: center;
  }
}

.swiper-pagination-progressbar-fill {
  background-color: hsl(var(--green)) !important;
  border-radius: 99px !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute !important;
  top: auto !important;
  bottom: 20px !important;
}

.swiper-button-next {
  min-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  color: transparent;
  transition:
    transform 0.3s ease,
    opacity ease 0.5s;
  background-color: hsl(var(--green));
  opacity: 0.5;
}

.swiper-button-prev {
  left: auto !important;
  right: 50px !important;
  min-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  color: transparent;
  transition:
    transform 0.3s ease,
    opacity ease 0.5s;
  background-color: hsl(var(--green));
  opacity: 0.5;
}

.swiper-button-next::after {
  background-color: hsl(var(--background2));
  mask: url("/arrow_right.svg") no-repeat center;
  -webkit-mask: url("/arrow_right.svg") no-repeat center;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  color: transparent;
}

.swiper-button-prev::after {
  background-color: hsl(var(--background2));
  mask: url("/arrow_left.svg") no-repeat center;
  -webkit-mask: url("/arrow_left.svg") no-repeat center;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  color: transparent;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
  opacity: 1;
}

#root {
  overflow-x: hidden;
}
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-height: 2000px;
  background-color: hsl(213, 32%, 11%);
}
.bg-gradient-animated {
  background: linear-gradient(90deg, #1FB2AA, #F1F5F9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientFlow 0.7s ease-in-out forwards;
}

@keyframes gradientFlow {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@layer base {
  :root {
    --black: 40, 5%, 11%;
    --white: 39, 85%, 95%;
    --green: 177, 70%, 41%;
    --purple: 265, 34%, 23%;
    --pink: 4, 81%, 59%;
    --orange: 23, 87%, 55%;
    --yellow: 49, 91%, 52%;

    --dark-green: 177, 70%, 30%;
    --accent: var(--white);
    --background: 213, 32%, 11%;
    --background2: 214, 52%, 20%;
    --foreground: 0, 0%, 90%;
    --card: 0 0% 100%;
    --text: 0 0% 40%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 210, 79%, 46%;
    --primary-foreground: 0, 0%, 40%;
    --secondary: 210, 79%, 46%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 0, 0%, 83%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0, 0%, 77%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }
}
